* {
  margin: 0 auto;
  text-align: center;
  width: 960px;
  postion: absolute;
}

.appts {
  text-align: left;
}

h2 {
	margin: 0;
}
h3 {
	text-align: left;
	margin: 0;
}

.delete {
	font-size: 12px;
	background-color: red;
	width: 100px;
	border: none;
	color: white;
}

.smaller {
	width: 30px;
}
